# Dependency directories
node_modules
venv

# Test data
test_data

# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
logs/
*.log

# enhanced-research-agent
enhanced-research-agent/examples/logs
enhanced-research-agent/examples/test_results
enhanced-research-agent/examples/data
enhanced-research-agent/test/test_results
enhanced-research-agent/qdrant_data

# Environment variables and API keys
.env